@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  cursor: default;
  overflow: hidden;
}

html,
body {
  overflow: hidden;
}

html {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif;
}

body {
  color: #333;
}

#app-container {
  min-width: 300px;
  min-height: 45px;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
input {
  font: inherit;
  color: inherit;
}

input[type='color'] {
  -webkit-appearance: none;
  background: none;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  /*flex-grow: 0;*/
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type='range'] {
  background-color: #ebf1f9;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border: none;
  border-radius: 100px;
  padding: 2px;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  background-image: linear-gradient(white, #ededed);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

